* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
    background-color: whitesmoke;
}
main{
    flex: 1;
    display: flex;
    flex-direction: column;
}
.contenedor-Beige{
    background-color: #FFF7E4;
    height: 55vh;
    width: 35vw;
    display: flex;
    margin-left: 10% ;
}
.contenedor-Contenido {
    display: flex;
    flex-direction: column;
    padding-top: 5%;
    padding-left: 5%;
    gap: 0.5rem;
    height: auto;
    width: 28%;
    position: absolute; 
}
#destacado{
    font-size: 1.2vi;
}
.parrafo{
    font-size: 0.8vi;
}
.btn{
    margin-top: 3em;
    background-color: rgba(245, 160, 29, 0.3);
    border-radius: 30vh;
    border: none;
    box-shadow: 0em 0.2em 0em 0em rgba(98, 98, 98, 0.4);
    height: 5vh;
    width: 10vw;
}
.btn:hover{
    box-shadow: 0em 0.2em 0em 0em rgba(98, 98, 98, 0.7);
    cursor: pointer;
}

#imagenPag2{
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 85%;
    margin-right: 30rem;
    width: 130%;
    height: auto;
}
.fraseDeAutor{
    display: flex;
    flex-direction: column;
    margin: 2% 15%;
    text-align: center;
    align-items: center;
    gap: 0.1rem;
}
footer{
    background-color: #FFF7E4;
    padding: 1%;
    display: flex;
    justify-content: space-between;
    height: 13vh;
    width: auto;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1%;
    background-color: whitesmoke;
    height: 13vh;
    width: auto;
}
.nav-list{
    display: flex;
    list-style-type: none;
    gap: 1rem;
}
.Logo{
  max-width: 2rem;
}
.footer-Main{
    font-weight: bold;
    padding-bottom: 0.3rem;
}
#footer-Derecha{
    display: flex;
    gap: 1rem  ;
    margin-left: 2%;
}
#footer-Izquierda{
    display: flex;
    gap: 3rem  ;
    margin-right: 3%;
}
.col1{
    gap: 0.1rem;
    display: flex;
    flex-direction: column;
}
.col2{
    gap: 0.1rem;
    display: flex;
    flex-direction: column;
}
.col3{
    gap: 0.1rem;
    display: flex;
    flex-direction: column;
}
.HiperLink{
    text-decoration: underline;
}
